@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Ubuntu&display=swap');

body, ul {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.header {
    background-color: hsl(356, 100%, 66%);
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100px;
}

.cabecalho__logo {
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    width: 100%;
}

/* Accordion */

.accordion__header {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.accordion__content {
    display: none;
}

.accordion__container.active .accordion__content {
    display: block;
    height: auto;
    max-height: 200px;
}

/* Login e Sign up */

.cabecalho__entrada {
    display: flex;
    flex-direction: column;
}

.cabecalho__login {
    color: #000000;
    text-decoration: none;
}

.cabecalho__signup {
    background-color: hsl(356, 100%, 66%);
    border-radius: 50px;
    color: #ffffff;
    padding: 1.25rem;
    text-decoration: none;
}

/* section intro */

.intro {
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 1.5rem;
    height: 45vh;
}

.intro__button {

    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.intro__start {
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 50px;
    color: hsl(356, 100%, 66%);
    cursor: pointer;
    font-weight: 600;
    padding: .5rem .75rem;
}

.intro__learn {
    background-color: hsl(356, 100%, 66%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: 600;
    padding: .5rem .75rem;
}

/* MAIN DESIGNER*/

.blogr {
    text-align: center;
}

.designed p, .description p {
    color: hsl(207, 13%, 34%);
}

.designed, .description {
    margin: auto;
    width: 80%;
}

.designed__img, .infra__img, .description__img {
    width: 100%;
}

.infra {
    background-color: hsl(208, 49%, 24%);
    background-image: url("../images/bg-pattern-circles.svg");
    background-size: contain;
    background-repeat: no-repeat; 
    border-radius: 0 100px 0 100px;
    color: hsl(0, 0%, 100%);
    position: relative;
    padding: 1rem 3rem;
    height: 65vh;
    margin-top: 250px;
}

.infra__content {
    position: relative;
    top: 100px;
}

.infra__img {
    position: absolute;
    left: 0;
    bottom: 320px;
}

/* FOOTER */

.footer {
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 100px;
    text-align: center;
    padding: 5rem;
    margin-top: 70px;
}

.footer__img {
    margin-bottom: 4rem;
}

.footer a, .footer h4 {
    color: hsl(240, 2%, 79%);
    text-decoration: none;
}

.footer h4 {
    margin-top: 3rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

@media screen and (max-width: 767px) {
    .cabecalho {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 2rem;
    }
    
    .cabecalho__nav {
        display: block;
    }
    
    .cabecalho__select {
        background-color: #e7e7e7;
        border-radius: 5px;
        height: 0;
        position: absolute;
        text-align: center;
        transition: .6s;
        top: 80px;
        left: 18px;
        width: 90%;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    .cabecalho__nav .cabecalho__select div {
        background: none;
        border: none;
        font-size: 1.25rem;
        margin: 0 auto 0 auto;
        width: 50%;
    }
    
    .cabecalho__nav.active .cabecalho__select {
        display: flex;
        flex-direction: column;
        height: calc(85vh);
        visibility: visible;
        overflow-y: auto;
    }
    
    .cabecalho__botao {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        padding: .5rem 1rem;
    }
    
    .hamburguer {
        border-top: 2px solid;
        display: block;
        width: 20px;
    }
    .hamburguer::after, .hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    .cabecalho__nav.active .hamburguer {
        border-top-color: transparent;
    }
    .cabecalho__nav.active .hamburguer::before {
        transform: rotate(135deg);
    }
    .cabecalho__nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho__select {
        display: flex;
        justify-content: space-evenly;
    }
    .cabecalho__entrada {
        display: block;
        flex-direction: initial;
    }
    .cabecalho__botao {
        display: none;
    }
    .designed__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / 3;
    }
    .infra__content, .infra {
        position: initial;
    }
    .infra__img {
        position: relative;
        bottom: 60px;
        width: 50%;
    }
    .infra {
        height: 20vh;
        margin-top: 100px;
        text-align: initial;
        font-size: 13px;
    }
    .infra__container {
        display: flex;
        justify-content: space-between;
    }
}